modules = ["nodejs-20", "web"]
run = "undo website"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "undo website"]

[workflows]
runButton = "Dev"

[[workflows.workflow]]
name = "Run"
author = 36014909

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Dev"
author = 36014909

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd $(pwd) && npm run dev -- -H 0.0.0.0"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3002
externalPort = 3002
